.page-header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: blueviolet;
  width: 100%;
  height: 10rem;
  /* color: #d3d3d3; */
  color: white;
  font-size: larger;
  padding-top: 90px;
}

.about-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 80%;
  height: 28rem;
  margin-top: 30px;
  border: solid 2px;
}

.section-header-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 20px 20px;
  margin: auto;
}

.board-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  margin-top: 30px;
  /* align-items: center;
  justify-content: center; */
}

.board-section-1 {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  /* padding: 20px; */
}

.board-section-header {
  margin: 30px 0 10px 0;
}

.practitioners {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 150px;
}
