h1,
h3 {
  text-align: center;
}

/* .item-title {
  color: #8f76c2;
} */

/* h2 {
  padding-top: 20px;
  text-align: center;
} */

.description {
  text-align: center;
  margin: 20px;
  color: gray;
  /* max-height: 300px; */
}

.card-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22rem;
  max-height: 35rem;
  background-color: white;
  box-shadow: 0 3px 5px blueviolet;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  margin: 30px;
}

.description img {
  display: none;
}

.button {
  color: white;
  background: #4070ff;
  border-radius: 40px;
  padding: 10px 20px;
  text-decoration: none;
  justify-self: flex-end;
  width: fit-content;
  box-shadow: 0 3px 3px #00000060;
  /* margin: 20px; */
}

.button:hover {
  background-color: blueviolet;
}

.button-bg {
  display: flex;
  align-items: center;
  justify-content: end;
  position: absolute;
  top: 820px;
  height: 4.37rem;
  width: 17rem;

  /* width: initial; */
  background-color: white;
  padding-bottom: 13px;
  /* border-radius: 20px; */
}

@media screen and (max-width: 1024px) {
  /* .card-container {
    display: flex;
    flex-direction: column;
  } */
}
